body {
  background: #d6eaf8;
  color: #222222;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.4;

  margin: 0;
}

input,
button {
  font-size: 18px;
}

.chat {
  background: #fefefe;
  border-radius: 4px;

  max-width: 800px;
  margin: auto;
  margin-top: 8px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.chat-messages {
  height: calc(90svh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-form {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.chat-form>input {
  flex: 1;
}

div.message.green {
  color: #56a253;
}

div.message.red {
  color: #c26666;
}

div.message.blue {
  color: #4672b3;
}

.username {
  color: rgb(126, 138, 155);
}

@media only screen and (max-width: 800px) {
  .chat {
    border-radius: 0px;

    margin: 0px;
    padding: 8px;
  }

  .chat-messages {
    height: calc(100svh - 56px);

    align-content: end;
  }
}
